<html>
<head>
	<title>Get data test</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
</head>
<body>
	<script type="text/javascript">
	$.get(
    "https://rayse-1d175.firebaseio.com/Users.json",
    function(data) {
       console.log(data);
    }
	);

	$(document).ready(function(){
	    $("button").click(function(){
	    	var favMovies = new Firebase('https://rayse-1d175.firebaseio.com/Users/123/Topped/');
	    	 favMovies.update({ // or push to add garbedge enty then actual entry // remove to remove
			        'ID5': 333,
			    });
			});
	});
	</script>
<button>Send an HTTP POST request to a page and get the result back</button>

</body>
</html>

<!-- 
check if request.user is M ( database has two users lists M and F)

// test pass request.user then check if request.user is male or femail


 we can get all users in F section , shuffle them, then get 3 users details - include age, facebook image link, name, surname, level


	use python's post home page request as API? post user_1, user_2, user_3. get those users from firebase, levelthem acordinately then post their new level. return json ok signal

   from random list. generate html -->