{% load staticfiles %}

<html>
<head>
	<title>LOGIN</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="{% static 'js/FacebookcallFun.js' %}"></script>
</head>
<body>

	<script>

  //get location of user (IP), do server side calls when ip is different; to get logitude and latitude
  //use freegeoip.net

  $.getJSON('https://api.ipify.org?format=json', function(data) {
      var IPadress = JSON.stringify(data, null, 2)
      console.log(IPadress);
      console.log(data.ip);
      document.Facebookdata.ip.value = data.ip;
    });


  // This is called with the results from from FB.getLoginStatus().
  
</script>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->

<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

<form id = "facebook_user" name="Facebookdata" enctype="multipart/form-data" method="POST" style="display:none;">
	{%csrf_token %}
	<input type="text" name="first_name">
  <input type="text" name="last_name">
	<input type="text" name="username_id">
	<input type="text" name="webpull">
  <input type="text" name="ip">

</form>

<div id="status">
</div>

</body>

</body>
</html>