<!DOCTYPE HTML>
{% load static from staticfiles %}
<html>

<head>
<title>
	Home
</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script> -->
<script src="https://www.gstatic.com/firebasejs/3.7.6/firebase.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript" src="{% static 'js/Get_users/get_users_file.js' %}"></script>
<script type="text/javascript" src="{% static 'js/Get_users/detect_the_position.js' %}"></script>
<script type="text/javascript" src="{% static 'js/Lisseners/get_lisseners.js' %}"></script>
<script type="text/javascript" src="{% static 'js/Lisseners/Linker_object.js' %}"></script>



<script type="text/javascript">

// global list
if ('{{user_default.user.facebookprofile.gender}}' == 'M') {
	anty_gender = 'F'
}
else {
	anty_gender = 'M'
}

get_users()

</script>


</head>

<body onload="">
	<!-- first function pass request and check m or f, load all user from fb store in global list. -->

<script type="text/javascript">
	var time = 1;
	var plays_count = 1;
	var series_user = [];
	var csrf = '{{ csrf_token }}'
	var user_raw_id = '{{user_default.user.username_id}}'
	var user_raw_gender = '{{user_default.user.facebookprofile.gender}}'

	var LinkObj = get_the_data(user_raw_id, user_raw_gender)
	console.log('linker object',LinkObj.status_lissen)

	//can create lissener objects
	Auth_user_DB_ref = 'https://rayse-1d175.firebaseio.com/Users/'+'{{user_default.user.facebookprofile.gender}}' + '/' + '{{user_default.user.username_id}}'



	// var user_connection_ref = new Firebase(Auth_user_DB_ref + '/Status/')

	var user_connection_ref = LinkObj.firebase_raw.database().ref().child('Users').child(user_raw_gender).child(user_raw_id).child('Status');

	user_connection_ref.onDisconnect().set('Offline')

	user_connection_ref.set('Online')

	LinkObj.status_lissen.on('value', function(snapshot) {
		delete_topped_ref = LinkObj.firebase_raw.database().ref().child('Users').child(user_raw_gender).child(user_raw_id).child('Topped')

		delete_topped_ref.remove()

		
		});




</script>
	
	<div class="jumbotron text-center">
		<div class="row">
			<div class = "col-md-2">
				<p><a href="/king">View King</a></p>
		</div>
		<div class="col-md-8">
			<h1> Rayse 1.01v </h1>
		</div>
		<div class="col-md-2">
			<p><a href="/logout">Add Account</a></p>
		</div>
	</div>
</div>
		
		



	<div class="row">
		<div class="col-md-4">
			<h2 id='name_user_1' >Name:
				 {{user_1.user.first_name}} {{user_1.user.last_name}}</h2>
			<h2 id='age_user_1'>Year Formed:
				{{user_1.age}}</h2>
			<p id='level_user_1'>Level: {{user_1.level}}</p>

			<p id="one"></p>
			<button id='button_user_1' onclick="detectPositionAndUpdateUser('one', {{user_1.user.username_id}})"><img id="webpull_user_1" src="{{user_1.webpull}}"></button>
		</div>
		<div class="col-md-4">
			<h2 id='name_user_2'>Name:
				 {{user_2.user.first_name}} {{user_2.user.last_name}}</h2>
			<h2 id='age_user_2'>Year Formed:
				{{user_2.age}}</h2>
			<p id='level_user_2'>Level: {{user_2.level}}</p>
			<p id='two'></p>
			<button id='button_user_2' onclick="detectPositionAndUpdateUser('two', {{user_2.user.username_id}})"><img id="webpull_user_2" src="{{user_2.webpull}}"></button>
		</div>
		<div class="col-md-4">
			<h2 id='name_user_3'>Name:
				 {{user_3.user.first_name}} {{user_3.user.last_name}}</h2>
			<h2 id='age_user_3'>Year Formed:
				{{user_3.age}}</h2>
			<p id='level_user_3'>Level: {{user_3.level}}</p>
			<p id="three"></p>
			<button id='button_user_3' onclick="detectPositionAndUpdateUser('three', {{user_3.user.username_id}})"><img id="webpull_user_3" src="{{user_3.webpull}}"></button>
		</div>
	</div>


	<form name="form_user_order" style="display:none;" method = "POST" enctype="multipart/form-data"> 
		{%csrf_token %}
		User_1 <input name="user_1" type="text"><br>
		User_2 <input name="user_2" type="text"><br>
		User_3 <input name="user_3" type="text"><br>
	</form>


</body>

</html>


